:root {
    /*Primary*/
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    /*Neutral*/
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
}
@font-face {
    font-family: "Barlow";
    src: url(../fonts/Barlow/Barlow-Regular.ttf);
}
@font-face {
    font-family: 'Fraunces';
    src: url(../fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
* {
    box-sizing: border-box;
}

a {
    appearance: none;
}

:visited,
:link {
    color: unset;
}

:any-link {
    text-decoration: none;
}

body {
    display: grid;
    max-width: 100svw;
    min-height: 100svh;
    container: body / inline-size;
    margin: 0;
    justify-items: center;
    font-family: "Barlow";

}

main {
    display: grid;
    width: 100cqw;
    max-width: 1440px;
    min-height: 100cqh;
    grid-auto-rows: max-content;
    container: main / inline-size;
}

header {
    display: grid;
    width: 100cqw;
    max-width: 1440px;
    container: header /inline-size;
    position: absolute;
    top:0;
    z-index: 2;
}
h1,h2,h3{
    font-family: 'Fraunces';
}
h1{
    color:white;
    letter-spacing: 3px;
}   
svg[id="svgs"]{
    display: none;
}
div[class="attribution"]{
    background-color: var(--dark-desaturated-cyan);
}