footer {
	display: grid;
	width: 100%;
	height: 20cqh;
	place-items: center;
    background: var(--dark-moderate-cyan);
}
section[class="logo-footer"]{
    height: 50px;
    width: 200px;
}
section[class="logo-footer"] svg{
    width:100%;
    height: 100%;
    filter: invert(1);
}
@container (inline-size<1000px){
}