footer {
	display: grid;
	width: 100%;
	height: 20cqh;
	place-items: center;
    background: var(--dark-moderate-cyan);
}
section[class="logo-footer"]{
    height: 50px;
    width: 100px;
}
section[class="logo-footer"] svg{
    width:100%;
    height: 100%;
    filter: invert(1);
    opacity: 0.3;
}
menu[class="footer-menu"]{
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 5px;
}
menu[id="footer-menu"] li:focus {
    border: 3px solid gainsboro;
}
menu[id="footer-menu"] li a {
    display: inline-grid;
    width: 100%;
    height: 100%;
}
section[class="social"]{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    column-gap: 20px;
}
section[class="social"] svg{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
@container (inline-size<1000px){
    menu[class="footer-menu"]{
        width: 80%;
    }
}