section[class="two"] {
    display: grid;
    width: 100cqw;
}
section[class="feature-card"]{
    display: grid;
    grid-template-columns: 50cqw 50cqw;
    width: 100cqw;
    background: white;
    color: black;

}
section[class="feature-card"] img {
    height:100%;
    width: 100%;
}

section[class="left"],
section[class="right"] {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

section[class="content-card"] {
    width: 50%;
}
section[class="content-card"] span{
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
    font-family: 'Fraunces';
}
section[class="feature-card"]:nth-of-type(1) span::before{
    content: '';
     position: absolute;
     border-bottom: 8px solid var(--yellow);
     width: 110%;
     left: -5%;
     bottom: 0; 
     border-radius: 5px;
     filter: opacity(0.5);
 }
 section[class="feature-card"]:nth-of-type(2) span::before{
    content: '';
     position: absolute;
     border-bottom: 8px solid var(--soft-red);
     width: 110%;
     left: -5%;
     bottom:0;
     border-radius: 5px;
     filter: opacity(0.5);
 }
section[class="content-card-2"] {
	position: absolute;
	bottom: 50px;
	place-items: center;
	text-align: center;
	display: grid;
	width: 50%;
}
@container (inline-size<1000px){
    section[class="feature-card"]{
        display: grid;
        grid-template-columns:unset;
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
        width: 100cqw;
        background: white;
        color: black;   
    }   
    section[class="feature-card"]:nth-of-type(1) section[class="left"]{
        order: 1;
    }
    section[class="content-card"] {
        width: 80%;
        text-align: center;
    }
    section[class="content-card-2"] {
        width: 80%;
        text-align: center;
    }
}